body{
    background-color:#2e6da4 !important;
    color: black !important;
}

header{
    height: 100px;
}
a {
    text-decoration: none;
}
.nav.navbar-nav {
    margin-left: 35%;
}

#nav{
    width: 70%;
    margin: 10px auto;
}
#nav_cont{
    background-color:#ffff00 !important;
}

#cont{
    background-color: rgba(0, 0, 0, 0.3);
}


body > nav > div > ul > li > a:hover {
    text-decoration: none;
    color: black;
}

#nav_cont > ul > li > a{
    color:black;
}
#nav_cont > ul > li > a:hover{
    font-size: 1.3em;
}


